:root {
  --color-pink: #e91e63;
  --color-red: #f44034;
  --color-yellow: #ffeb3b;
  --color-orange: #ff6600;
  --color-green: #4caf50;
  --color-blue: #18beff;
  --color-turquoise: #00bcd4;

  --bg-color: hsl(230deg 5% 9%);
  --fg-color: #efefef;
  --accent-color: var(--color-pink);

  --bar-label-font-size: 12px;
  --bar-width: 50%;

  --bar-compare-a: var(--color-red);
  --bar-compare-b: var(--color-yellow);
  --bar-swap-a: var(--color-green);
  --bar-swap-b: var(--color-blue);
  --bar-read: var(--color-orange);
  --bar-write: var(--color-turquoise);

  --transition-time: 0.1s;
}

body {
  background-color: var(--bg-color);
  background-image: 
    radial-gradient(hsla(230, 5%, 80%, 0.08), 1px, transparent 0), 
    radial-gradient(hsl(0deg 0% 100% / 8%), 1px, transparent 0);
  background-size: 32px 32px, 8px 8px;
  background-position: center; 
}

/* Bar class with element */
.bar-swap-a { background-color: var(--bar-swap-a) !important; }
.bar-swap-b { background-color: var(--bar-swap-b) !important; }
.bar-compare-a { background-color: var(--bar-compare-a) !important; }
.bar-compare-b{ background-color: var(--bar-compare-b) !important; }
.bar-read { background-color: var(--bar-read) !important; }
.bar-write { background-color: var(--bar-write) !important; }


.text {
  font-family: Fira Code, sans-serif;
  color: white;
}

.text > h1 {
  padding-top: 8px;
  padding-bottom: 32px;
  padding-right: 32px;
  font-weight: 500;
  letter-spacing: 0.01em;
  margin: 0;
  font-size: 2rem;
  line-height: 1;
}

.text > h2 {
  font-size: 1rem;;
  padding: 0;
  margin: 0;
}

.text > p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.6;
}

.text > h1:hover, h2:hover {
  cursor: pointer;
}

.wrapper {
  width: 100%;
  height: auto;

  margin-top: 2.5vw;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 800px) {
  .wrapper {
    flex-direction: column;
  }
}

.wrapper-data {
  margin-right: 2.5vw;
}

.wrapper-controls {
}

.observable-array {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  align-content: stretch;

  margin-top: 7vh; /* Should be 2.5vw, but the labels are outside of .observable-array */

  position: relative;
  height: 40vh;
  width: 65vw;
}
@media (max-width: 800px) {
  .observable-array {
    width: 95vw;
  }
}

#controls-container {
  width: 27.5vw;
}
@media (max-width: 800px) {
  #controls-container {
    margin-top: 2.5vw;
    width: 95vw;
  }
}

/* Bar Wrapper */
.observable-array > div {
  flex-grow: 1;
  flex-shrink: 0;

  text-align: center;
  
  overflow: visible;
}

/* Bar */
.observable-array > div > div {
  width: var(--bar-width);
  margin-left: auto;
  margin-right: auto;

  border-radius: 500px;
  background-color: var(--fg-color);
  transition: var(--transition-time) all ease;
}

/* Bar Label */
.observable-array > div > div > label {
  position: absolute;
  transform: 
    rotate(-90deg)
    translate(30px, calc(var(--bar-label-font-size) / 2 * -1));

  color: var(--fg-color);
  font-family: Fira Sans, sans-serif;
  font-size: var(--bar-label-font-size);
}